<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= widget.title.titleize %>, <i><%= widget.postcode %></i></h3>
	</div>
	
	<div class="panel-body">
		Description: <%= widget.description %>
	</div>
</div>